#registration-form{
  padding: 40px;
  background: var(--alt-color);
  margin: 40px;
}

#registration-form h1{
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
  color: var(--main-color)
}

#registration-form h1 .fa{
  margin-right: 5px;
}
