#logo{
  margin: 0;
  color: #333;
  display: flex;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo img{
  width: 60px;
  height: auto;
}

#logo span{
  color: #fff;
}

#logo span span{
  color: #333;
}

@media screen and (max-width: 480px) {
    #logo{
      font-size: 26px;
      margin-left: 40px;
    }
}
