#home-icon-boxes{
  background: #f2f2f2;
}

#home-icon-boxes .row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#home-icon-boxes .row .icon-box{
  flex: 1;
  text-align: center;
}

#home-icon-boxes .row .icon-box span.fa{
  font-size: 60px;
  color: white;
  width: 150px;
  height: 150px;
  border: 3px solid #0095e5;
  border-radius: 100px;
  line-height: 150px;
  background: #0095e5;
}

#home-icon-boxes .row .icon-box:hover span.fa{
  background: white;
  color: #0095e5;
  cursor: pointer;
}

#home-icon-boxes .row h2{
  color: #333;
  text-transform: uppercase;
}
