#ticket-list .ticket-list table{
  width: 100%;
  border: 1px solid var(--alt-light-color)
}

#ticket-list .ticket-list table thead th{
  padding: 15px;
  text-align: center;
  background: var(--main-color);
  color: var(--main-inv-color);
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 2px solid var(--main-dark-color)
}

#ticket-list .ticket-list table td{
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid var(--alt-light-color)
}

#ticket-list .ticket-status{
  color: var(--warning-color)
}

#ticket-list .ticket-status.Succeeded{
  color: var(--valid-color)
}

#ticket-list .ticket-status.used,
#ticket-list .ticket-status.Expire{
  color: var(--invalid-color)
}

#ticket-list .actions{
  display: flex;
  justify-content: flex-end;
}

#ticket-list .actions > *{
  margin-right: 10px;
}
