@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

.section > .container{
  padding: 80px 0;
}

/*********** VARIABLES *************/

:root{
  --main-color: #0095e5;
  --main-inv-color: #FFF;
  --main-dark-color: #333;
  --alt-light-color: rgba(183, 183, 183, .4);
  --alt-color: #f8f8f8;
  --alt-dark-color: #d2d2d2;
  --text-color: #333;
  --link-color: #0095e5;
  --link-hover-color: #666;
  --valid-color: rgb(0, 208, 0);
  --invalid-color: rgb(208, 87, 95);
  --transistion-time: .2s;
  --transistion-type: ease-in;
}

/*********** INPUTS *************/

input{
  border: 1px solid #efefef;
  margin: 10px 0;
}

button{
  -webkit-transition: all var(--transistion-time) var(--transistion-type);
  -moz-transition: all var(--transistion-time) var(--transistion-type);
  -o-transition: all var(--transistion-time) var(--transistion-type);
  transition: all var(--transistion-time) var(--transistion-type);
}

.btn{
  -webkit-appearance: button;
  padding: 15px 20px;
  text-transform: uppercase ;
  letter-spacing: 1px;
  -webkit-transition: all var(--transistion-time) var(--transistion-type);
  transition: all var(--transistion-time) var(--transistion-type);
  border: 1px solid var(--main-color);
  background: var(--main-color);
  color:var(--main-inv-color);
}

.btn.btn-fullwidth{
  display: block;
  width: 100%
}

.btn:hover{
  color: var(--main-color);
  background:var(--main-inv-color);
  cursor: pointer;
}

.btn:hover:disabled{
  cursor: not-allowed;
}

.btn.btn-inv{
  border: 1px solid var(--main-inv-color);
  background: var(--main-inv-color);
  color:var(--main-color);
}

.btn.btn-inv:hover{

}

.btn:hover{
    position:relative;
    -webkit-box-shadow:0 3px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 3px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 3px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.btn:hover:before, .btn:hover:after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.btn:hover:after{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*********** HEADINGS *************/

.block-title-holder{
  text-align: center;
}

.block-title-holder .block-title{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  margin: 0 0 60px;
  color: #333;
  font-size: 24px;
  display: inline-block;
  padding: 0 40px;
}

.block-title-holder .block-title::before{
  width: 100%;
  height: 3px;
  background: #0095e5;
  position: absolute;
  left: 0;
  bottom: -20px;
  display: block;
  content: "";
}

.block-title-holder .block-title::after{
  width: 100px;
  height: 3px;
  background: #333;
  position: absolute;
  left: 0;
  bottom: -20px;
  display: block;
  content: "";
}

@media screen and (max-width: 480px) {

  .block-title-holder .block-title{
    font-size: 18px;
    display: inline-block;
    width: 100%;
    margin: 20px 0 40px;
  }

  .section > .container{
    padding: 0;
  }

  .wyswig h2{
    font-size: 16px;
  }
}
